<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-eclipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar class="ion-margin-auto">
      <ion-img src="https://media-exp1.licdn.com/dms/image/C5603AQFRI9_sNI_qkA/profile-displayphoto-shrink_400_400/0/1641565674054?e=1675296000&v=beta&t=7in9SGUc-WPwPcWPfKNop8726I0NCvF8sETAfAuD6js"></ion-img>
    </ion-avatar>
  </ion-card-header>
</ion-card>
